:root {
	--primary-color: #000;
	--secondary-color: #333;
	--background: #fff;
}

[data-theme="dark"] {
	--primary-color: #fff;
	--secondary-color: #ccc;
	--background: #000;
}

.theme {
	color: var(--primary-color);
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-evenly;
	height: 50vh;
	transition: all 0.5s ease;
	button {
		padding: 5px 10px;
		margin: 10px auto;
		border: 1px solid var(--primary-color);
	}
}
